
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1491717166808'); /* IE9*/
  src: url('iconfont.eot?t=1491717166808#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1491717166808') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1491717166808') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1491717166808#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:20px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo:before { content: "\e65d"; }

.icon-xuexiaohuangye:before { content: "\e615"; }

.icon-ceping:before { content: "\e60e"; }

.icon-chengjichaxun:before { content: "\e618"; }

.icon-tianqi:before { content: "\e60a"; }

.icon-course-table:before { content: "\e603"; }

.icon-xiaoyuanqia:before { content: "\e605"; }

.icon-gongnengshetuanhuodong:before { content: "\e627"; }

.icon-iconfont-xuanke:before { content: "\e610"; }

.icon-baoming:before { content: "\e602"; }

